<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>DoGi: Dottrina Giuridica</title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/directory.css" />
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/vis/sistematici.css" />

    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
    
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>

    <script src="//wafi.iit.cnr.it/webvis/libs/jigmaps/zip.js"></script>
    <script src="//wafi.iit.cnr.it/webvis/libs/jigmaps/tree_utils.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
    /* Data stored in Velocity variables are passed to Javascript
    */
    var table = "${classmap}";
    var data = []

    #foreach ($resource as $resources.keySet())
      data.push({"label": "${resources.get($resource)}", "uri": "${resource}"});
    #end
    </script>

  </head>
  <body>

    <div id="header">
      <div id="logo">
        <div>
          <div>LINKED</div>
          <div>DATA</div>
        </div>
        <div>DOGI</div>
      </div>
    </div>

    <div id="main">
      <div id="visualization" class="subsection">
        <div class="title">Visualization:</div>
        <div class="subtitle"></div>
      </div>
      <div id="examples" class="subsection">
        <div class="title">Examples:</div>
      </div>
    </div>

    <script type="text/javascript" src="${home_link}snorql/vis/sistematici.js"></script>
    <script type="text/javascript" src="${home_link}snorql/directory.js"></script>
    <script type="text/javascript" src="${home_link}snorql/directory_vis.js"></script>

  </body>
</html>