<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

    <div id="header">
      <div id="logo">
        <div>
          <div>LINKED</div>
          <div>DATA</div>
        </div>
        <div>DoGi</div>
      </div>
    </div>

    <div>
#if ($uri)
      <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> $title</h1>
#end
      <div>The resource <b>$uri</b> does not exists.</div>
    </div>

#* $details *#
  </body>
</html>
