<!DOCTYPE html>
<html>
  <head>
    <title>
      #if ($label)
        $label.string
      #else
        $uri
      #end
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/resource.css" />
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/vis.css" />
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Noto+Serif'>
    
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="${home_link}snorql/namespaces.js" type="text/javascript"></script>
    <script type="text/javascript">
      /* RDF triples stored in Velocity variables are passed to Javascript
      */
      var triples_data = {direct: [], inverse: []}
      var resource = {uri: "${uri}", label: "${label.string}"}

      #foreach($property in $properties)
        var property = {};

        property.predicate = {prefix: "${property.propertyPrefix()}", suffix: "${property.propertyLocalName()}", uri: "${property.propertyURI()}"};

        #if ($property.value().isURI())
          property.object = {value: "${property.value().URI}".replace(/&quot;/g, ''), isURI: true};
        #else
          property.object = {value: "${property.value()}".replace(/&quot;/g, ''), isURI: false};
        #end

        #if ($property.value().isLiteral())
          property.type = 'Data property';
        #else
          property.type = 'Object property';
        #end

        #if ($property.isInverse())
          triples_data.inverse.push(property)
        #else
          triples_data.direct.push(property)
        #end
      #end
    </script>
  </head>
  <body>
    
    <div id="header">
      <div class="title"></div>
      <div class="subtitle"></div>
    </div>

    <div id="main">

      <div id="visualization"></div>
      <div class="subsection">
        <div>
          <div class="title">Direct Triples</div>
          <table id="direct"></table>
        </div>
        <div>
          <div class="title">Inverse Triples</div>
          <table id="inverse"></table>
        </div>
      </div>

      #* 
      #if ($metadata)
        <br/> <br/>
        <a name="meta"></a>
        <h2>Metadata</h2>
        <div id="metadata-tables">
          #set($bnidCount = 0)
          #set($idadd = 0)
          #listProperties ($metadataroot $metadata) 
        </div>
      #end
      *#

    </div>

    <script type="text/javascript" src="${home_link}snorql/vis/agent.js"></script>
    <script type="text/javascript" src="${home_link}snorql/resource.js"></script>
    <script type="text/javascript" src="${home_link}snorql/resource_vis.js"></script>
  </body>
</html>