<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>DoGi: Dottrina Giuridica</title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/root.css" />
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
      var home_url = "${home_link}";
    </script>
  </head>
  <body>
    
    <div id="header">
      <div id="page_title">Linked Data DoGi</div>
    </div>

    <div id="main">

      <div class="subsection bottom_line justify">
        <div class="title"><i class="fa fa-info-circle"></i> What is Linked Data DoGi?</div>
        <div class="subtitle"></div>

        <a href="http://www.ittig.cnr.it/dogi/en/Index.php">DoGi</a> is a reference database of articles published in Italian legal journals. For each article, the DoGi record provides bibliographic information enhanced with: 

        <ul>
          <li>abstracts and/or summaries of articles;</li>
          <li>one or more classification codes based on the indexing DoGi system especially designed for legal subjects;</li>
          <li>a selection of legislative and jurisprudential references of the sources quoted in the article;</li>
          <li>further metadata describing more significant features of the article;</li>
          <li>link to the full text when freely available online.</li>
        </ul>
        <br />
        This web portal provides the bibliographic data of DoGi as <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Open Data</a>.
      </div>

      <div class="subsection bottom_line">
        <div class="title"><i class="fa fa-database"></i> Query the dataset</div>
        <div class="subtitle"></div>
        <ol>
          <li>
            Query the dataset by writing SPARQL queries on the <a href="snorql/">endpoint</a>.
          </li>
          <li>
            Use the SPARQL REST <a href="sparql?query=SELECT ?s ?o ?p {?s ?o ?p} LIMIT 3">API</a> for calling the endpoint from your code.
          </li>
        </ol>
      </div>

      <div class="subsection bottom_line">
        <div class="title"><i class="fa fa-compass"></i> Navigate the dataset</div>
        <div class="subtitle">The DoGi Linked Data set describes its resources by means of the following major classes:</div>
        #* <table id="main_classes"></table> *#
        <div id="main_classes"></div>
        <div class="subtitle">There are also other minor classes:</div>
        <div id="other_classes"></div>
      </div>

      <div class="subsection">
        <div class="title"><i class="fa fa-bar-chart"></i> Get insights from data</div>
        <div class="subtitle">The bar-chart shows the amount of instances (i.e., resources) for each class in the dataset.</div>
        <svg></svg>
        <div class="subtitle">Browse the following visualizations in order to get insights from the DoGi data.</div>
        <div id="vis_list">
          <div class="vis_box">
            <div>
              <a target="_blank" href="http://wafi.iit.cnr.it/webvis/lab/public/4122230f56cbd9982ba0/"><img src="snorql/img/journal.png"/></a>
            </div>
            <div class="vis_desc">The amount of articles published on journals rated as A and not-A.</div>
          </div>

          <div class="vis_box">
            <div>
              <a target="_blank" href="http://wafi.iit.cnr.it/webvis/replayer/?dogi_titoli"><img src="snorql/img/replayer.png"/></a>
            </div>
            <div class="vis_desc">The most common words within the titles of articles during the time.</div>
          </div>
          
          <div class="vis_box">
            <div>
              <a target="_blank" href="http://wafi.iit.cnr.it/webvis/lab/public/04466b8ca6a3670dd963/"><img src="http://wafi.iit.cnr.it/webvis/lab/public/04466b8ca6a3670dd963/thumbnail.png"/></a>
            </div>
            <div class="vis_desc">The hierarchy of the sistematici describing different law branches.</div>
          </div>

          <div class="vis_box">
            <div>
              <a target="_blank" href="http://wafi.iit.cnr.it/webvis/lab/public/a5a79b7594493a713a3db0999caa558a/"><img src="http://wafi.iit.cnr.it/webvis/lab/public/a5a79b7594493a713a3db0999caa558a/thumbnail.png"/></a>
            </div>
            <div class="vis_desc">The distribution of published articles.</div>
          </div>

        </div>
      </div>

    </div>

    <div id="footer">
      <div>
        This webpage shows the results of a collaboration between the Institute of Legal Information Theory and Techniques (ITTIG) and the Institute of Informatics and Telematics (IIT) of the National Research Council (CNR).
      </div>
    </div>

  <script type="text/javascript" src="${home_link}snorql/root.js"></script>
  </body>
</html>
