<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>DoGi: Dottrina Giuridica</title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/root.css" />
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
      var home_url = "${home_link}";
    </script>
  </head>
  <body>
    
    <div id="root_header">
      <div id="top_header">
        <div id="logo">
          <div>
            <div>LINKED</div>
            <div>DATA</div>
          </div>
          <div>DOGI</div>
        </div>
        <div id="nav">
          <span><a href="#query">QUERY</a></span>
          <span><a href="#download">DOWNLOAD</a></span>
          <span><a href="#navigate">NAVIGATE</a></span>
          <span><a href="#visualize">VISUALIZE</a></span>
          <span><a href="#contact">CONTACT</a></span>
        </div>
      </div>
      <div id="desc">
        <div>
          LINKED DATA <a href="http://www.ittig.cnr.it/dogi/en/Index.php">DOGI</a> is a bibliographic Linked Open Data source containing references about <b>articles</b> published in <b>Italian legal journals</b>. Each article consists of <b>bibliographic information</b> enhanced with <b>abstracts</b>, <b>summaries</b>, a selection of <b>legislative and jurisprudential references</b>, classification codes based on the indexing DoGi system and other interesting information.
        </div>
      </div>
    </div>

    <div id="main" class="root">
      <div class="subsection bottom_line" id="query">
        <div class="title"><i class="fa fa-database"></i> Query the dataset</div>
        <div class="subtitle"></div>
        <ol>
          <li>
            Query the dataset by writing SPARQL queries on the <a href="snorql/">endpoint</a>.
          </li>
          <li>
            Use the SPARQL REST <a href="sparql?query=SELECT ?s ?o ?p {?s ?o ?p} LIMIT 3">API</a> for calling the endpoint from your code.
          </li>
        </ol>
      </div>

      <div class="subsection bottom_line" id="download">
        <div class="title"><i class="fa fa-download"></i> Download latest dump</div>
        <div class="subtitle"></div>
          <a href="">Dump 01/06/2016</a>.
        </ol>
      </div>

      <div class="subsection bottom_line" id="navigate">
        <div class="title"><i class="fa fa-compass"></i> Navigate the dataset</div>
        <div class="subtitle">The class diagram below shows the RDF classes of the dataset. Major classes are blue while minor are brown. Gray edges show how the instances (resources) of the classes are connected:</div>
        <div id="class_diagram">
          <img src="/snorql/img/class_diagram.png" />
        </div>
        <div class="subtitle">The major classes are the following:</div>
        <div id="main_classes"></div>
        <div class="subtitle">The minor classes are:</div>
        <div id="other_classes"></div>
      </div>

      <div class="subsection" id="visualize">
        <div class="title"><i class="fa fa-bar-chart"></i> Get insights from data</div>
        <div class="subtitle">The bar-chart shows the amount of instances (i.e., resources) for each class in the dataset.</div>
        <svg></svg>
        <div class="subtitle">Browse the following visualizations in order to get insights from the data.</div>
        <div id="vis_list">
          <div class="vis_box">
            <div>
              <a href="snorql/vis/1"><img src="snorql/vis/1/thumbnail.png"/></a>
            </div>
            <div class="vis_desc">Which is the amount of articles published on journals rated as A and not-A during time?</div>
          </div>
          
          <div class="vis_box">
            <div>
              <a href="snorql/vis/3"><img src="snorql/vis/3/thumbnail.png"/></a>
            </div>
            <div class="vis_desc">How is structured the hierarchy of the DoGi classification? Which law branches are present?</div>
          </div>

          <div class="vis_box">
            <div>
              <a href="snorql/vis/4"><img src="snorql/vis/4/thumbnail.png"/></a>
            </div>
            <div class="vis_desc">Which kind of Source of Law are contained in DoGi? In which quantity?</div>
          </div>

          <div class="vis_box">
            <div>
              <a href="snorql/vis/2"><img src="snorql/vis/2/thumbnail.png"/></a>
            </div>
            <div class="vis_desc">How are distributed the articles published by the authors in DoGi?</div>
          </div>

        </div>
      </div>

    </div>

    <div id="footer">
      <div id="contact">
        This web page shows the results of the collaboration between two institutes of the National Research Council (CNR):
      </div>
      <div id="partners">
        <div class="partner">
          <div>
            <a href="http://www.ittig.cnr.it/en/">
              <img src="snorql/img/ittig.png"/>
            </a>
          </div>
          <div>
            Institute of Legal Information Theory and Techniques
          </div>
        </div>
        <div class="partner">
          <div>
            <a href="http://www.iit.cnr.it/en">
              <img src="snorql/img/iit.svg"/>
            </a>
          </div>
          <div>
            Institute of Informatics and Telematics
          </div>
        </div>
      </div>
    </div>

  <script type="text/javascript" src="${home_link}snorql/root.js"></script>
  </body>
</html>
