#header .title, #header .subtitle {
  margin-left: 10%;
}
#header .title {
  font-size: 25px;
}
#header .subtitle {
  color: #1f78b4;
}

/*  vis
*/
#visualization {
  text-align: center;
}

/*  triples
*/
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
.subsection .title {
  font-size: 20px;
  margin-bottom: 10px;
}
#direct {
  margin-bottom: 20px;
}

.small {
  font-size: 12px;
}
span.uri {
  color: #1f78b4;
}
span.uri a {
  color: #1f78b4;
  text-decoration: underline;
}
span.uri a:hover {
  text-decoration: none;
}

.literal {
  color: #999;
}
.prefix {
  color: #ff7f00;
}