svg {
  width: 100%;
}

/*  SUBSECTION
*/
.subsection .title {
  font-size: 24px;
}
.subsection .subtitle {
  color: #777;
  margin-bottom: 10px;
  text-align: justify;
}
.bottom_line {
  border-bottom: 1px solid #f2f2f2;
}

/*
*/
a {
  color: steelblue;
}
a:hover {
  text-decoration: none;
}
i {
  color: steelblue;
}
#classes {
  padding-left: 40px;
  text-align: justify;
}
#classes > * {
  padding: 2px 0px 2px 0px;
}
.justify {
  text-align: justify;
}

/*  Bar chart
*/
.class {
  width: 200px;
  height: 90px;
  padding: 8px 10px 8px 10px;
  margin: 10px;
  border-radius: 2px;
  background: #deebf7;
  border: 2px solid #fff;
  font-size: 15px;
  fill: #777;
}
.class:hover {
  background: #fff;
  border: 2px solid #deebf7;
}
.class .title {
  font-family: sans-serif;
  font-size: 15px;
  fill: #333333;
}
.bar {
  fill: #F39D41;
}
.bar_amount {
  font: 12px sans-serif;
  fill: #777;
}
