svg {
  width: 100%;
  margin-bottom: 50px;
}

/*  TOP NAVIGATION BAR
*/
#nav_out {
  position: fixed;
  background: #fdfdfd;
  height: 45px;
  width: 100%;
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,.2);
  box-shadow: 0 0 7px rgba(0,0,0,.2);
}
#nav_in {
  position: absolute;
  top: 14;
  right: 10;
  font-size: 13.5;
}
#nav_in span {
  margin-right: 15px;
}
#nav_in span a {
  text-decoration: none;
  color: #333;
  transition: color 0.4s linear;
}
#nav_in span a:hover {
  color: rgb(69, 123, 157);
}
.logo {
  position: absolute;
  top: 10;
  left: 10;
}

/* INITIAL DESCRIPTION
*/
#desc {
  width: 100%;
  text-align: justify;
  font-size: 16px;
  line-height: 1.8;
  padding: 120px 0px 70px 0px;
  background: #f0f0f0;
  color: #888;
}
#desc > * {
  width: 65%;
  max-width: 1000px;
  margin: auto;
}
#main_desc {
  font-family: 'Crimson Text', Georgia;
  font-size: 42px;
  line-height: 1.5;
  margin-bottom: 35px;
  color: #333;
}
#sub_desc {
  font-style: italic;
  font-family: Georgia;
  font-size: 19px;
  margin-bottom: 35px;
}

/*  SUBSECTION
*/
.subsection .title {
  font-family: Georgia;
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  
}
.subsection .body {
  color: #989898;
}
.bottom_line {
  border-bottom: 1px solid #f2f2f2;
}

/*  General
*/
#main > * {
  max-width: 1000px;
  margin: auto;
}
a {
  color: rgb(69, 123, 157);
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
i.fa {
  color: rgb(69, 123, 157);
  font-size: 30px;
  margin-right: 10px;
}
ol {
  line-height: 2;
}

.justify {
  text-align: justify;
}

/*  Class diagram
*/
#class_diagram {
  text-align: center;
}
#class_diagram img {
  max-width: 600px;
  width: 120%;
  margin: 40px 0px 40px 0px;
}
#main_classes {
  padding: 0px 0px 10px 0px;
  text-align: justify;
  border-spacing: 5px;
}
.main_class {
  margin-bottom: 15px;
  display: flex;
}
#other_classes {
  display: flex;
}
#main_classes, #other_classes {
  font-size: 14px;
}
.main_class a, #other_classes a {
  color: #303030;
}
.square {
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
  border-radius: 5px;
  margin-right: 5px;
}
.major {
  background: rgb(106, 173, 206);
}
.minor {
  background: rgb(175, 120, 64);
}

/*  SPARQL QUERIES
*/
pre {
  margin: 0px;
  background: rgb(250,250,250);
  border-left: 3px solid rgb(170,170,170);
  color: #666;
}
.query {
  margin: 30px 0px 0px 0px;
}
.run_query i {
  font-size: 18px;
}
.run_query i:hover {
  color: lightsteelblue
}

/*  Visualization lists
*/
#vis_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.vis_box div:not(.vis_desc) {
  border-radius: 5px;
  border: 2px solid gainsboro;
  width: 200px;
  margin: 10px;
}
.vis_desc {
  width: 200px;
  margin: 10px;
  font-size: 13px;
  text-align: justify;
  margin-top: -8px;
}
.vis_box img {
  width: 200px;
  height: 100px;
}
.vis_box img:hover {
  opacity: 0.8;
}

/*  Bar chart
*/
svg .class {
  width: 200px;
  height: 90px;
  padding: 8px 10px 8px 10px;
  margin: 10px;
  border: 2px solid #fff;
}
svg .class .title {
  font-family: sans-serif;
  font-size: 15px;
  fill: #333;
}
svg .bar {
  fill: rgb(107,172,206);
}
svg .bar_amount {
  font: 12px sans-serif;
  fill: gray;
}

/*  partners
*/
#partners {
  display: flex;
}
.partner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.partner div:nth-child(2) {
  width: 250px;
  margin-top: 10px;
}
.partner img {
  height: 75px;
}

/* footer
*/
#footer {
  width: 100%;
  background: #444;
  color: #ddd;
  margin-top: 40px;
  border-top: 3px solid #777777;
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,.2);
  box-shadow: 0px 0 10px rgba(0,0,0,.2);
}
#footer > * {
  width: 65%;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}
.footer_desc {
  display: flex;
  align-items: center;
}
.footer_desc i {
  color: #989898;
}